<div class="col-md-12">

  <h2 class="text-center"> 我加入的讨论版 </h2>

  <table class="table">
    <thead>
      <tr>
        <th> # </th>
        <th> 标题 </th>
        <th> 描述 </th>
        <th> 投递数量 </th>
        <th> 更新时间 </th>
      </tr>
    </thead>

    <tbody>
      <%= render :partial => "group_item", :collection => @groups, :as => :group %>
    </tbody>
  </table>

</div>
